/* Universal Styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Prata", "Palatino", serif;
    color: #FFFFFF;
}

html {
    font-size: 16px;
}

main {
    position: relative;
    top: 6.25rem; /* To offset for fixed header. */
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


/* Header */
header {
    background-color: hsla(183, 6%, 47%, 1);
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 6.25rem;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

header .container {
    padding: 0 5rem 0 5rem;
    justify-content: space-evenly;
}

header nav {
    display: inline-flex;
    padding: 0;
}

header .logo {
    height: 6.25rem;
    
}

header .nav-left {
    justify-content: flex-start;
    text-align: left;
    flex-grow: 1;
}

header .nav-right {
    justify-content: flex-end;
    text-align: left;
    flex-grow: 1;
}

header a {
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 1.25rem;
    
}

header a:hover {
    text-decoration: underline;
}

header .nav-left a {
    margin: 0 5rem 0 0;
}

header .nav-right a {
    margin: 0 0 0 5rem;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 1050px) {
    

    header .mobile {
        display: inline-block;
    }

    header .desktop {
    display: none;
}
}

@media only screen and (max-width: 880px) {
    main {
        position: relative;
        top: 3rem; /* To offset for fixed header. */
    }
    
    header {
        height: 3rem;
    }

    header .logo {
        height: 3rem;
    }

    header .container {
        margin: 0 1rem 0 1rem;
        flex-wrap: nowrap;
        padding: 0 2rem 0 2rem;
    }

    header .nav-left a {
        margin: 0 2rem 0 0;
    }
    
    header .nav-right a {
        margin: 0 0 0 2rem;
    }
    
    header a {
        font-size: .75rem;
    }
}


/* Banner Section */
#banner-section {
    height: 55rem;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

#banner-section .container {
    height: 100%;
    width: 100%;
    align-content: center;
    flex-direction: column;
    padding: 25px;
}

#banner-section h1 {
    text-transform: uppercase;
    padding: 13rem 20rem 0 0;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

#banner-section h2 {
    flex-shrink: 1;
}

@media only screen and (max-width: 800px) {
    #banner-section h1 {
        font-size: 2.5rem;
        padding: 13rem 15rem 0 1rem;
    }
    #banner-section h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 685px) {
    #banner-section h1 {
        font-size: 2rem;
        padding: 13rem 9rem 0 .25rem;
    }
    #banner-section h2 {
        font-size: 1rem;
    }
}

/* About Section */
#about-section {
    background-color: hsla(184, 47%, 64%, 1);
    padding: 1rem 0 0 2rem;
}

#about-section .container {
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-height: 10rem;
}

#about-section .text-content {
    min-height: 8.5rem;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#about-section .logo {
    max-height: 10rem;
    padding: 0 4rem 0 0;
}



@media only screen and (max-width: 970px) {
    #about-section .container {
        min-height: 15rem;
    }

    #about-section .text-content {
        min-height: 13rem;
        justify-content: space-between;
    }
} 

@media only screen and (max-width: 600px) {
    #about-section .container {
        min-height: 18rem;
    }

    #about-section .text-content {
        min-height: 16rem;
        justify-content: space-between;
    }
} 

/* Offerings Section NEW */

#offerings-section {
    background-color: hsla(183, 6%, 47%, .3);
    padding: 2rem 2rem 0 2rem;
}

#offerings-section h2 {
    padding: 0 0 3rem 0;
    color: hsla(183, 26%, 46%, 1);
}

#offerings-section .offerings-container {
    padding: 0 0 2.5rem 0;
}

#offerings-section .spacer {
    max-width: 1500px;
    margin: auto;
}

#offerings-section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#offerings-section .col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#offerings-section .item {
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
}

#offerings-section img {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    margin: 0 0 .75rem 0;
}

#offerings-section p {
    color: hsla(183, 26%, 46%, 1);
    font-size: 1.25rem;
}



/* Quote Section */
#quote-section {
    height: 20rem;
    padding: 0 0 0 2rem;
    background-image: url('../images/quote-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#quote-section .container{
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#quote-section h3 {
    font-family: 'Paladino';
    font-size: 2rem;
    font-style: italic;
    padding: 0 0 1rem 0;

}


/* Team Section */
#team-section {
    min-height: 35rem;
    background-color: hsla(184, 20%, 76%, 1);
    padding: 2rem 2rem 0 2rem;
}

#team-section .container {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
}

#team-section .card {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    max-width: 16rem;
    margin: 0 0 3rem 0;
    background-color: transparent;
}

#team-section h2{
    padding: 0 0 3rem 0;
}

#team-section img {
    width: 80%;
    height: 80%;
    overflow: hidden;
    text-align: center;
    margin: 0 0 1.5rem 0;
    flex-shrink: 1;
}

#team-section p {
    color:#728182;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}


/* Footer */

footer {
    background-color: hsla(183, 6%, 47%, 1);
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    height: 6rem;
    width: 100%;
    bottom: 0;
    top: 0;
    margin: 0;
}

footer .container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

footer .copyright {
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    padding: 0 .5rem;
    justify-content: space-around;
    width: 50%;
    
}

footer .contact {
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    padding: 0 .5rem;
    justify-content: space-around;
    width: 50%;
    align-items: flex-end;
}


footer a {
    padding: 0 0 0 2rem;
    text-align: right;
}

@media only screen and (max-width: 1000px) {
    footer p {
        font-size: .75rem;
    }

    footer a {
        font-size: .75rem;
    }
}